* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FC7300;
    overflow: hidden;
}

.navbar {
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    gap: 10px;
}

#navbar__logo {
    font-family: 'Brush Script MT', cursive;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    height: 140px;
    margin-left: 120px;
}

#navbar__logo .logo {
    width: 90px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 20px;
    margin-right: 120px;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 150px;
    font-size: 19px;
}

.navbar__links:hover {
    color: #FC7300;
    transition: all 0.3 ease;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.flexbox-container {
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    position: relative;
    animation: transitionIn 1.5s;
}

.flexbox-item {
    width: 200px;
    margin: 10px;
    background-color: #dfdfdf;
}

.flexbox-item-1 {
    /* min-height: 100px; */
    background: url('assets/Palabok.png') no-repeat center;
    background-size: cover;
    width: 900px;
    height: 100%;
    position: absolute;
    left: -58px;
    top: -18px;
}
.flexbox-item-2 {
    /* min-height: 200px; */
    background: url('') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vh;
    /* transform: translate(747.5px, -570px); */
    position: absolute;
    right: -18px;
    top: -18px;
}

.first {
    color: white;
    position: absolute;
    top: 20vh;
    right: 18vw;
}

.first h1 {
    font-size: 20px;
}

.first li {
    list-style-type: none;
    font-size: 20px;
    font-weight: 200;
}
.second {
    color: white;
    position: absolute;
    top: 50vh;
    right: 11.5vw;
}

.second h1 {
    font-size: 20px;
}

.second li {
    list-style-type: none;
    font-size: 20px;
    font-weight: 200;
}
.third {
    color: white;
    position: absolute;
    top: 80vh;
    right: 22vw;
}

.third h1 {
    font-size: 20px;
}

.third li {
    list-style-type: none;
    font-size: 20px;
    font-weight: 200;
}